table {font-size: 24px;}
.poop {font-size: 14px; margin: 0; text-align: right; }
p {margin: 0;font-size: 20px; font-weight: bold;}

.corh {background: rgb(90, 189, 255);}
.cory {background-color: yellow;}
.vazio {border: none;}
.coro {background-color: orange;}
.corred {background-color: red;}
.corroxi {background-color: violet;}
.corroxao{background-color: darkviolet;}
.corb{background-color: brown;}
.corg{background-color: darkgreen;}
.corcin {background-color: gray;}
.corp {background-color: darksalmon;}
.coru {background-color: aquamarine; }
.titulo {font-size: 50px; text-align: center;}
.tale {font-size: 18px; font-weight: bold; }

